<footer class="bg-gray-200 py-10">
    <div class="w-11/12 mx-auto">
        <h2 class="m-0 text-2xl">{{'footer.getApp' | translate }}</h2>
        <p class="text-gray-500 text-sm">
           {{'footer.sendLink' | translate }}
        </p>
        <div class="flex items-center gap-3 text-nowrap py-2">
            <input type="text" placeholder="{{'footer.email' | translate }}"
                class="w-full rounded-lg border p-1 bg-white border-gray-300 placeholder:text-gray-400">
            <button class="bg-green-700 py-2 px-4 rounded-lg text-white  cursor-pointer">{{'footer.shareLink' | translate }}</button>
        </div>
        <div class="pay-details md:flex items-center justify-between my-5 py-3 border-t-1 border-b-1 border-gray-300">
            <div class="flex items-center gap-2">
                <h3 class="text-sm m-0">{{'footer.payment' | translate }}</h3>
                <img src="images/amazon-pay.png" width="50px" alt="">
                <img src="images/American-Express-Color.png" width="50px" alt="">
                <img src="images/paypal.png" width="50px" alt="">
                <img src="images/mastercard.webp" width="50px" alt="">
            </div>
            <div class="flex items-center gap-2">
                <h3 class="h6 m-0">{{'footer.Deliveries' | translate }}</h3>
                <img src="images/get-google-play.png" width="100px" alt="">
                <img src="images/get-apple-store.png" width="100px" alt="">

            </div>
        </div>
    </div>

</footer>